# [作業目標]
- 利用範例的創建方式, 創建一組資料, 並練習如何取出最大值

# [作業重點]
- 練習創立 DataFrame (In[2])
- 如何取出口數最多的國家 (In[3], Out[3])

## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [0]:
import pandas as pd
import numpy as np

In [17]:
np.random.randint(50000, 100000,size=5)

array([73694, 81847, 50333, 80232, 57013])

In [18]:
data = {'Country': ['Taiwan', 'American', 'Japan', 'Korea', 'England'],
        'People': [73694, 81847, 50333, 80232, 57013]}
people = pd.DataFrame(data)
print(people)

    Country  People
0    Taiwan   73694
1  American   81847
2     Japan   50333
3     Korea   80232
4   England   57013

In [19]:
people.sort_values(by = ['People'] , ascending=False).iloc[0,]

Country    American
People        81847
Name: 1, dtype: object